@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

body{
    background-color: #BFD7EB;
}

html {
    scroll-behavior: smooth;
}

.flashcard {
    display: none;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #FFF;
    width: 30vw;
    height: auto;
    align-self: center;
  }

  /* Center the GIF container */
  #gif-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px; /* Adjust height as needed */
  }

  /* Optional: Add styles for the random GIF */
  #random-gif {
      max-width: 100%;
      max-height: 100%;
  }

.center {
    text-align: center;
    align-content: center;
    align-items: center;
}